<!DOCTYPE html>

<html lang="is">

<head>
    <title>Um RGB stýringu</title>
    <meta charset="UTF-8">
    <link rel=stylesheet type="text/css" href="static/style.css">
</head>

<body>

<div class="pagedude">

<header>
<nav>
        <ul>
            <li><a href="website.html">Heim</a></li>
            <li><a href="about.html">Um síðuna</a></li>
        </ul>
</nav>
</header>


<p id="about">Þessi síða stýrir RGB ljósi sem er tengt við Raspberry pi tölvu.....</p>


</div>

<footer class="unselectable"><b>Almar Daði Björnsson</b></footer>

</body>

</html>